<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--  通用的存储权限  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <!--  Android 10 (API 29) 及以上需要的权限  -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <!--  Android 13 (API 33) 及以上需要的权限  -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <!--  网络访问权限  -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--  如果需要支持非 HTTPS 网站（谨慎使用，仅在调试时启用）  -->
    <!--  <application android:usesCleartextTraffic="true">  -->
    <!--  Required to query activities that can process text  -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
    <application android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:requestLegacyExternalStorage="true">
        <!--  默认禁用，非必要时不要启用  -->
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize" android:enableOnBackInvokedCallback="true">
            <!--  解决 OnBackInvokedCallback 警告  -->
            <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--  不要删除以下 meta-data  -->
        <meta-data android:name="flutterEmbedding" android:value="2"/>
        <!--  WebView 配置  -->
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing" android:value="true"/>
        <meta-data android:name="android.webkit.WebView.HardwareAcceleration" android:value="true"/>
        <!--  文件提供者配置  -->
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>